body{
    background-color: black;
}




.bg{
    top: 50px;
    bottom: 50px;
    left: 30%; 
    right: 30%;
    position: fixed;
    background-color: black;
}
#play{
    display:block;
    top:45%;
    right:25%;
    position:fixed;
    text-shadow: 1px 1px 1px #000;
    line-height: 2.5;
    padding: 0 57px;
    text-align: center;
   
}

#highScore{
    display:block;
    top:50%;
    right:25%;
    position:fixed;
    text-shadow: 1px 1px 1px #000;
    line-height: 2.5;
    padding: 0 40px;
   
}